<!DOCTYPE html>
<html>

<head>
  <title>Mafia online</title>
  <link rel='stylesheet' href='/stylesheets/Home.css' />
</head>

<body>
  <div class="login">
    <a href="/login">Login</a>
    <div class="circle"> </div>
  </div>
  <div class="title">
    <h1>Maf‌ia</h1>
    <h3>Online Website</h3>
  </div>
  <p></p>
</body>

</html>