<!DOCTYPE html>
<html>

<head>
  <title>Mafia online</title>
  <link rel='stylesheet' href='/stylesheets/HOME.css' />
</head>

<body>
  <div class="login">
    <a href="#">Login</a>
    <div class="circle"> </div>
  </div>
  <div class="title">
    <h1>Mafia</h1>
    <h3>Online Website</h3>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit quis voluptatum similique officia! Obcaecati
    inventore nulla nemo accusamus, nobis impedit vel consequatur fuga. Architecto mollitia doloribus soluta debitis
    quia.</p>
</body>

</html>