<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/stylesheets/room.css">
</head>

<body>
   <section id="WaitingRoom">
      <div class="members">
         <ul>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
            <li><img src="/Avatars/Avatar-1627977904220.jpg" alt="">Nick Name</li>
         </ul>
         <button>Enter Room</button>
      </div>
      <div class="chat">
         <ul>
            <li class="Self"><img src="/Avatars/Avatar-1627977904220.jpg">
               <div>
                  <h1>Nick Name</h1>
                  <p>some text</p>
               </div>
            </li>
            <li class="Other"><img src="/Avatars/Avatar-1627977904220.jpg">
               <div>
                  <h1>Nick Name</h1>
                  <p>some text</p>
               </div>
            </li>
         </ul>
         <div>
            <input type="text" name="" id="">
            <button>Send</button>
         </div>
      </div>
   </section>
   <section id="Room" style="display: none;">

   </section>
</body>

</html>