@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
*{
  padding :0;
  margin : 0;
  box-sizing: border-box;
  font-family: 'Jura', sans-serif;
}

html,body{
  width : 100%;
  height : 100%;
  overflow: hidden;
}

body{
   background : url(../images/login.png);
   background-size: 100% 100%;
   display: flex;
   justify-content: flex-end;
   transition: 1s;

}

form{
   margin : 5% 10%; 
   color : white;
   width :30%;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-direction: column;
   transition: 1s;
}

form>legend{
   font-size : 6vmin;
   align-self: center;
}
form>h3{
   font-size : 3vmin;
   color : #464646;
   align-self: center;
}
form>input{
   color : #464646;
   border : 0;
   background-color : #00000000;
   border-bottom: 3px solid #464646;
   font-size : 3.5vmin;
   padding : 5% 10% 2% 0;
   width :100%; 
}

form>input:focus {
   border : 0;
   border-bottom: 3px solid #BC0410;
   outline: none;
}

form>input:hover{
   border : 0;
   border-bottom: 3px solid #BC0410;
   outline: none;
}

form>small{
   color : #464646;
   font-size : 2vmin;
}

form>a{
   color : white;
   font-size : 2.5vmin;
   text-decoration: none;
}

form>a:hover{
   color : #BC0410;
}

form>input[type="submit"]{
   font-size : 2.5vmin;
   width: 60%;
   align-self: center;
   color :white;
   border : 0;
   background: rgb(97,85,85);
   background: linear-gradient(248deg, rgba(255,51,51,1) 0%,  rgba(97,85,85,1)100%);
   border-radius :50px;
   padding: 3%;
   cursor: pointer;
}

form>input[type="submit"]:hover{
   background: rgb(97,85,85);
   background: linear-gradient(248deg, rgba(97,85,85,1) 0%, rgba(255,51,51,1) 100%);
   color :black;
}

form>div{
   align-self: center;
   font-size : 3vmin;
}

form>div>input{
   font-size : 3.5vmin;
   color :red;
   text-decoration: none;
   background-color :#00000000;
   border : 0;
   cursor: pointer;
}

#SignUp{
   visibility: hidden;
   opacity:0;
}